In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'Link.xlsx')
df

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326       <url>http://ret323_Tru.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [7]:
df['without_tag'] = df["Stats_Access_Link"].str[12:-6]
df

,Device_Type,Stats_Access_Link,without_tag
0,AXO145,<url>https://xcd32112.smart_meter.com</url>,/xcd32112.smart_meter.com
1,TRU151,<url>http://tXh67.dia_meter.com</url>,tXh67.dia_meter.com
2,ZOD231,<url>http://yT5495.smart_meter.com</url>,yT5495.smart_meter.com
3,YRT326,<url>http://ret323_Tru.crown.com</url>,ret323_Tru.crown.com
4,LWR245,<url>https://luwr3243.celcius.com</url>,/luwr3243.celcius.com